<form action="/settings" method="POST">
    <label for="userName">User Name</label>
    <input type="text" id="userName" name="userName" 
    {{#if setting}} 
    value="{{setting.0.userName}}"
    {{/if}}
    >

    <label for="phoneNumber">Phone Number</label>
    <input type="tel" id="phoneNumber" name="phoneNumber"
    {{#if setting}} 
    value="{{setting.0.phoneNumber}}"
    {{/if}}
    >

    <label for="email">Email</label>
    <input type="email" id="email" name="email"
    {{#if setting}} 
    value="{{setting.0.email}}"
    {{/if}}
    >

    <label for="city">City</label>
    <input type="text" id="city" name="city"
    {{#if setting}}
    value="{{setting.0.city}}"
    {{/if}}
    >

    <label for="state">State</label>
    <input type="text" id="state" name="state"
    {{#if setting}}
    value="{{setting.0.state}}"
    {{/if}}
    >

    <label for="zip">Zipcode</label>
    <input type="zip" id="zip" name="zip"
    {{#if setting}}
    value="{{setting.0.zip}}"
    {{/if}}
    >

    <input type="submit">
    <button type="button">Update Password</button>
</form>